.volver
{
    width: 20%;
    margin: 15px;
}

.volver a
{
    align-items: center;
    color: #fff;
    padding-bottom: 5px;
    text-decoration: none;
}

.volver a img
{
    width: 20px;
    margin-right: 10px;
}
