<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos-inicio.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos_actualizar.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos-actualizar.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos-volver.css')}}">

    <title>Actualizar Equipo</title>
</head>
<body>
    <header class="cabecera">
		<figure>
			<img src="{{ url_for('static', filename='img/upa.png')}}">

		</figure>

		<figure>
			<img src="{{ url_for('static', filename='img/edo.jpg')}}">
		</figure>

		<div class="menu">
            <figure class="user">
			    <img class="user" src="{{ url_for('static', filename='img/user.png')}}" alt="">
            </figure>
            <ul>
                <li><a href="logout">Log out</a></li>
             </ul>
        </div>
	</header>

    <div class="volver">
        <figure>
            <a href="/inicio"> <img class="user" src="{{ url_for('static', filename='img/regreso.png')}}" alt="" width="40px">Volver</a>
        </figure>
    </div>


	<h2>Actualizar Equipo</h2>

	<center>
	<form action="{{ url_for('buscar', nombre_funcion='actualizar') }}" method="POST">
		<input type="text" placeholder="Busca por código de barras: " name="barcode" class="buscador">
		<input type="submit" value="Buscar">
	</form></center><br><br>

	{% for message in get_flashed_messages()%}
        <div class="alert alert-success alert-dismissible">
            <button type="button" data-dismiss='alert' class="close">&times;</button>
            {{ message }}
        </div>
    {% endfor%}

	<div class="contenedor">
		<form action="{{ url_for('actualizar')}}" method="POST">
			<input type="hidden" name="barcode" value="{{ data.get('barcode')}} ">
			<label for="nombre">Nombre:</label>
			<input type="text" placeholder="Nombre:" name="nombre" value="{{ data.get('nombre', '') }}">
			<label for="nombre">No. de serie:</label>
			<input type="text" placeholder="No. de serie" name="no_serie" value="{{ data.get('no_serie', '') }}">
			<label for="nombre">Ubicación:</label>
			<input type="text" placeholder="Ubicación" name="ubicacion" value="{{ data.get('ubicacion', '') }}">
			<label for="nombre">Marca:</label>	
			<input type="text" placeholder="Marca" name="marca" value="{{ data.get('marca', '') }}">
			<label for="estado">Condiciones</label>
			<select name="estado" id="estado" class="estado" name="estado">
				<option value="{{data.get('id_estado', '0')}}">{{ data.get('estado', '') }}</option>
				<option value="1">funcional</option>
				<option value="2">Averiado</option>
				<option value="3">Reparando</option>
			</select>
			<label for="nombre">Resguardatario:</label>
			<input type="text" name="resguardatario" id="resguardatario" placeholder="Resguardatario" value="{{ data.get('resguardo', '')}}">
			<label for="nombre">Modelo:</label>
			<input type="text" placeholder="Modelo" id="modelo" class="modelo" name="modelo" value="{{ data.get('modelo', '') }}">
			<label for="nombre">Código de barras:</label>
			<input type="text" placeholder="Código de barras" value="{{ data.get('barcode')}}" readonly>
			<label for="nombre">Observaciones:</label>
			<input type="text" placeholder="observaciones" id="observaciones" class="observaciones" name="observaciones" value="{{ data.get('observaciones', '') }}">
			<input type="submit" value="Actualizar">
		</form>
	</div>

</body>
</html>
