<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css')}}">
    <title>Agregar equipo</title>
</head>
<body>
    <header class="cabecera">
		<figure>
			<img src="{{ url_for('static', filename='img/upa.png')}}">

		</figure>
		<figure>
			<img src="{{ url_for('static', filename='img/edo.jpg')}}">
		</figure>
	</header>


    
</body>
</html>