<!DOCTYPE html>
<html>
<head>
	<title>Sistema de Inventarios</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css')}}">
</head>
<body>
	<header class="cabecera">
		<figure>
			<img src="{{ url_for('static', filename='img/upa.png')}}">

		</figure>
		<figure>
			<img src="{{ url_for('static', filename='img/edo.jpg')}}">
		</figure>
	</header>

	<div class="contenido">
		<section class="nombre">
			<h1 class="tema">Sistema de Inventario</h1>
		</section>
		
		<section class="login">
			<div class="login_datos">
				<p>Usuario:</p>
				<input type="text" name="usuario" id="usuario" class="usuario">
				<p>Contraseña:</p>
				<input type="password" name="password" class="password" id="password">
				<br><input type="submit" value="entrar">
			</div>
		</section>
	</div>

	<footer>
		
	</footer>
</body>
</html>