<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css')}}">
    <title>Inicio</title>
</head>
<body>

    <header class="cabecera">
		<figure>
			<img src="{{ url_for('static', filename='img/upa.png')}}">

		</figure>
		<figure>
			<img src="{{ url_for('static', filename='img/edo.jpg')}}">
		</figure>
	</header>

    <h2 class="titulo">Ingresar Equipo</h2>
    <div class="opciones">
        <div class="boton"><a href="crear.html">Crear</a></div>
        <div class="boton"><a href="vizsualizar.html">Vizsualizar</a></div>
        <div class="boton"><a href="actualizar.html">Actualizar</a></div>
        <div class="boton"><a href="eliminar.html">Eliminar</a></div>
    </div>

    div.
    <a href="/logout">Cerrar sesion</a>
</body>
</html>
