<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/estilos-inicio.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/estilos-visualizar.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/estilos-volver.css')}}">
    <title>visualizar</title>
</head>
<body>
    <header class="cabecera">
		<figure>
			<img src="{{ url_for('static', filename='img/upa.png')}}">

		</figure>

		<figure>
			<img src="{{ url_for('static', filename='img/edo.jpg')}}">
		</figure>


        <div class="menu">
            <figure class="user">
			    <img class="user" src="{{ url_for('static', filename='img/user.png')}}" alt="">
            </figure>
            <ul>
                <li><a href="logout">Log out</a></li>
             </ul>
        </div>
	</header>

    <div class="volver">
        <figure>
            <a href="/inicio"> <img class="user" src="{{ url_for('static', filename='img/volver.png')}}" alt="" width="40px">Volver</a>
        </figure>
    </div>

    <h2 class="titulo">Equipos</h2>

    <hr>

    <form action="{{ url_for('visualizar') }}" method="post">
        <label for="filtro">Filtrar por:</label>
        <select id="filtro" name="filtro">
            <option value="0">Seleccionar</option>
            <option value="nombre">Nombre</option>
            <option value="no_serie">No. de serie</option>
            <option value="ubicacion">Ubicación</option>
            <option value="marca">Marca</option>
            <option value="modelo">Modelo</option>
            <option value="estado">Condiciones</option>
            <option value="fecha_registro">Fecha</option>
            <option value="barcode">Código de barras</option>
            <option value="resguardo">Resguardo</option>
        </select>

        <input type="text" name="filtro-elegido" id="filtro-elegido">
        <input type="submit" value="Filtrar">
    </form>

    {% for message in get_flashed_messages()%}
        <div class="alert alert-success alert-dismissible  mensaje" >
            <button type="button" data-dismiss='alert' class="close">&times;</button>
            {{ message }}
        </div>
    {% endfor%}

    <div class="mostrar">
        <table WIDTH="90%" BORDER="1"  CELLSPACING="3">
            <tr>
                <th bgcolor="#fff">ID Equipos</th>
                <th bgcolor="#fff">Nombre</th>
                <th bgcolor="#fff">No. de serie</th>
                <th bgcolor="#fff">Ubicación</th>
                <th bgcolor="#fff">Marca</th>
                <th bgcolor="#fff">Modelo</th>
                <th bgcolor="#fff">Condiciones</th>
                <th bgcolor="#fff">Observaciones</th>
                <th bgcolor="#fff">Fecha</th>
                <th bgcolor="#fff">Código</th>
                <th bgcolor="#fff">resguardatario</th>
                <th bgcolor="#fff" colspan="2">Opciones</th>
            </tr>

            {% for equipment in equipments %}
            <tr>
                <td>{{  equipment.0 }}</td>
                <td>{{  equipment.1 }}</td>
                <td>{{  equipment.2 }}</td>
                <td>{{  equipment.3 }}</td>
                <td>{{  equipment.4 }}</td>
                <td>{{  equipment.5 }}</td>
                <td>{{  equipment.12 }}</td>
                <td>{{  equipment.7 }}</td>
                <td>{{  equipment.8 }}</td>
                <td>{{  equipment.9 }}</td>
                <td>{{  equipment.10 }}</td>
                <td>Actualizar</td>
                <td>Eliminar</td>
            </tr>
            {% endfor %}

        </table>
    </div>
</body>
</html>
